#app{
  display:flex;
  max-width:100%;
  flex-direction:column;
}
#tileContainer{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  width:100%;
  justify-content:space-around;
  align-items:center;
}
.tile{
  cursor:grab;
  transition:all;
  font-size:2em;
  color:black;
  text-align:center;
  padding:.5em;
  border:solid;
  margin-top:.5em;
  border-radius:1em;
}
#guesses{
  min-width:100%;
  min-height:5em;
  margin-top:5%;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:end;
}
.guess{
  transition:all 1s;
  background-color:black;
  width:4em;
}
.status_bar{
  transition:all 1s;
  width:100%;
  position:absolute;
  height:1em;
  font-size:2em;
}
#status_container{
  margin-top:3em;
  height: 5em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}
